body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#logo {
  font-size: 30px;
}

.container{
  padding:40px 0;
}

#posts {
  padding: 60px 30px;
  border-bottom: 1px solid black;
  margin: 0px 200px;
}

#postTitle {
  padding-top: 30px;
}

#authors {
  padding: 30px 0;
}

#name {
  border-bottom: 1px solid black;
  margin: 0px 200px;
  padding: 40px 0;
}

#address {
  border-bottom: 1px solid black;
  margin: 0px 200px;
  padding: 40px 0;
}

#company {
  margin: 0px 200px;
  padding: 40px 0;
}

#about {
  margin: 50px 0 !important;
}

.text { 
  padding: 30px 100px; 
 }

 .btnNewPost {
   margin-left: 15px;
 }